@model List<Pessoa>;
@{
    ViewData["Title"] = "Lista de Pessoas";
}

<h1>Lista de Pessoas</h1>

@if(Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"> </th>
                <th scope="col"> </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Idade</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
                <td>@Html.ActionLink("Editar", "Edit", new { id = item.Id })</td>
                <td>@Html.ActionLink("Excluir", "Delete", new { id = item.Id })</td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <h3 class="alert alert-info" style="display:none">Dados Indisponíveis</h3>
    </div>
}
